/*noonnu : IBM Plex Sans*/
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*noonnu : LINE Seed*/
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

table {
    display: table;
    box-sizing: border-box;
    text-indent: initial;
}

colgroup {
    display: table-column-group;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border: 1px;
}

a {
    color:black;
    text-decoration: none;
}

input {
    cursor: pointer;
}

label {
    cursor: pointer;
}

.logBtn {
    padding: 5px;
    border: 1px solid #1dd1a1;
    border-radius: 3px;
    font-family: 'IBMPlexSansKR-Regular';
    background-color: #FFFFFF;
    color: #1dd1a1;
    box-shadow: 1px 1px lightgrey;
}

.logBtn:hover {
    color: #FFFFFF;
    background-color: #1dd1a1;
}
