.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
}

h4 {
    font-weight: bold;
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
}

.panel-default {
    border-color: #dddddd;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-body {
    padding: 15px;
}

.content {
    line-height: 30px;
    word-break: break-all;
    padding-top: 0px;
    padding-bottom: 0px;
}